<header class="header-principal animate-on-load">
    <a href="/templates/home.html" class="logo-container">
        <img src="/Static/img/clinica.png" alt="Logo Clínica Dental John Vega" class="logo">
        <span class="logo-texto">Clinica John Vega</span>
    </a>

    <nav class="navegacion">
        <a href="/templates/perfilOdontologo.html">Perfil Profesional</a>
        <a href="/templates/Admin/horario.html">Horario</a>
        <a href="/templates/Admin/agendaCitas.html">Gestión de Citas</a>
        <a href="/templates/registros.html">Registros</a>
        <a href="/templates/historialU/historialU.html">Historial Clínico</a>
        <a href="#" onclick="logout()">Cerrar Sesión</a>
    </nav>
</header>
