<header class="header-principal animate-on-load">
    <a href="/templates/index.html" class="logo-container">
        <img src="/Static/img/clinica.png" alt="Logo Clínica Dental John Vega" class="logo">
        <span class="logo-texto">Clinica John Vega</span>
    </a>

    <nav class="navegacion">
        <a href="/templates/servicios.html">Servicios</a>
        <a href="/nosotros.html">Nosotros</a>
        <a href="/templates/Contacto/contacto.html">Contacto</a>
        <a href="/templates/Contacto/contacto.html" class="btn-cita">Agendar Cita</a>
    </nav>
</header>
