<header class="header-principal animate-on-load">
    <a href="/templates/index.html" class="logo-container">
        <img src="/Static/img/clinica.png" alt="Logo Clínica Dental John Vega" class="logo">
        <span class="logo-texto">Clinica John Vega</span>
    </a>

    <nav class="navegacion">
        <a href="/templates/Admin/perfil.html">Perfil Profesional</a>
        <a href="/templates/Admin/horario.html">Horario</a>
        <a href="/templates/Admin/agendaCitas.html">Gestion de citas</a>
        <a href="/templates/Admin/registroPaciente.html">Registros</a>
        <a href="/templates/historialU/historialU.html">Historial clinico</a>

        <a href="/templates/Account/login.html" class="btn-iniciarSesion"> Iniciar sesión</a>
    </nav>
</header>
