body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}

.main-contenido,
.seccion-generica {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 6px;
}

.titulo-principal {
    text-align: right !important;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px auto 30px auto;
    display: block;
    width: 100%;
}

.subtitulo {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #333;
}

.tabla-contenedor {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent; 
}

table th,
table td {
    border: 1px solid #000; /* bordes negros */
    padding: 12px;
    text-align: center;
    background-color: transparent;
    color: #000;
}

table th {
    font-weight: 600;
}

/* ===== ESTADOS ===== */
.estado {
    font-weight: 600;
}

.estado.Programada {
    color: #d18b00;
}

.estado.Confirmada {
    color: #007a3d;
}

.estado.Completada {
    color: #004aad;
}

.estado.Cancelada {
    color: #b00020;
}
