<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Profesional | Clínica Dental John Vega</title>

    <link rel="stylesheet" href="/Static/CSS/estilos.css">
    <link rel="stylesheet" href="/Static/CSS/perfil.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

   <div id="navbarAdmin"></div>
    <script src="/Static/JS/include.js"></script>

    <!-- PERFIL DEL DENTISTA -->
    <section class="perfil seccion-generica animate-on-load">

        <div class="perfil-card animate-delay-1">

            <div class="perfil-img">
                <img src="/Static/img/dentista.jpg" alt="Foto del Dentista">
            </div>

            <div class="perfil-info">

                <h2>Dr. John Vega</h2>
                <p class="perfil-rol">Odontólogo General & Especialista</p>

                <h3>Especialidades</h3>
                <ul class="lista">
                    <li>Ortodoncia</li>
                    <li>Estética dental</li>
                    <li>Endodoncia</li>
                    <li>Rehabilitación oral</li>
                </ul>

                <h3>Experiencia</h3>
                <p>
                    Más de 12 años de experiencia brindando atención odontológica integral, 
                    enfocado en tratamientos modernos, estética y bienestar del paciente.
                </p>

                <button class="btn-servicio btn-editar">Actualizar Información</button>
            </div>

        </div>

    </section>

    <!-- FOOTER -->
    <footer class="footer-principal">
        <p class="footer-texto">© 2025 Clínica Dental John Vega</p>
    </footer>

</body>

</html>
