<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Clínica Dental Especializada John Vega</title>

    <link rel="stylesheet" href="../Static/CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div id="navbarAdmin"></div>
    <script src="/Static/JS/include.js"></script>
    <script src="/Static/JS/navbar_auth.js"></script>
    
    <main>
        <section class="hero animate-on-load animate-delay-1">
            <div class="hero-texto">
                <h1>Hola Doc</h1>
                <p>¿Que vamos a hacer hoy?</p>
                <a href="Admin/agendaCitas.html" class="link-discreto">Agenda &rarr;</a>
                <a href="Admin/registroPaciente.html" class="link-discreto">Registrar &rarr;</a>
                <a href="historialU/historialU.html" class="link-discreto">Historial &rarr;</a>
            </div>
            
        </section>

        <section class="seccion-nosotros animate-on-load animate-delay-10">
            <div class="contenedor-texto">
                <h2>¿Terminaste?</h2>
                <a href="#" onclick="logout()">Cerrar Sesión</a>
            </div>
        </section>
    </main>

    <footer class="footer-principal animate-on-load animate-delay-11">
        <div class="footer-contenido">
            <p>&copy; 2025 Clínica Dental Especializada John Vega. Todos los derechos reservados.</p>
            <div class="redes-sociales">
                <a href="https://www.facebook.com/profile.php?id=100069438113222" target="_blank"
                    rel="noopener noreferrer">
                    Facebook
                </a>
                <a href="https://wa.me/50683611091" target="_blank" rel="noopener noreferrer">
                    WhatsApp
                </a>
            </div>
        </div>
    </footer>

</body>

</html>
