<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Clínica Dental Especializada John Vega</title>

    <link rel="stylesheet" href="../Static/CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div id="navbar"></div>
    <script src="/Static/JS/include.js"></script>
    <script src="/Static/JS/navbar_auth.js"></script>

    <main>
        <section class="hero animate-on-load animate-delay-1">
            <div class="hero-texto">
                <h1>Clínica Dental Especializada.</h1>
                <p>Comprometidos con tu sonrisa, combinando experiencia y tecnología.</p>
                <a href="Contacto/contacto.html" class="link-discreto">Contactanos &rarr;</a>
            </div>
        </section>

        <section class="seccion-servicios">
            <div class="contenedor">
                <h2 class="animate-on-load animate-delay-2">Nuestros Servicios</h2>
                <div class="grid-servicios">
                    <div class="servicio-item animate-on-load animate-delay-3"> <img src="../Static/img/geen.jpg"
                            alt="Odontología General">
                        <h3>Odontología General</h3>
                    </div>
                    <div class="servicio-item animate-on-load animate-delay-4">
                        <img src="../Static/img/orto.jpg" alt="Ortodoncia">
                        <h3>Ortodoncia</h3>
                    </div>
                    <div class="servicio-item animate-on-load animate-delay-5">
                        <img src="../Static/img/pedia.jpg" alt="Odontopediatría">
                        <h3>Odontopediatría</h3>
                    </div>
                    <div class="servicio-item animate-on-load animate-delay-6">
                        <img src="../Static/img/endo.jpeg" alt="Endodoncia">
                        <h3>Endodoncia</h3>
                    </div>
                    <div class="servicio-item animate-on-load animate-delay-7">
                        <img src="../Static/img/ciru.jpg" alt="Cirugía Oral y Maxilofacial">
                        <h3>Cirugía Oral y Maxilofacial</h3>
                    </div>
                    <div class="servicio-item animate-on-load animate-delay-8">
                        <img src="../Static/img/periodoncia.jpg" alt="Periodoncia">
                        <h3>Periodoncia</h3>
                    </div>
                    <div class="servicio-item animate-on-load animate-delay-9">
                        <img src="../Static/img/reha.jpg" alt="Rehabilitación Oral y Prótesis">
                        <h3>Rehabilitación Oral y Prótesis</h3>
                    </div>
                    <div class="servicio-item animate-on-load animate-delay-10">
                        <img src="../Static/img/carillas.jpg" alt="Estética Dental">
                        <h3>Estética Dental</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="seccion-nosotros animate-on-load animate-delay-10">
            <div class="contenedor-texto">
                <h2>¿Quieres conocer más sobre nosotros?</h2>
                <a href="nosotros.html" class="link-discreto">Conoce más sobre nosotros &rarr;</a>
            </div>
        </section>
    </main>

    <footer class="footer-principal animate-on-load animate-delay-11">
        <div class="footer-contenido">
            <p>&copy; 2025 Clínica Dental Especializada John Vega. Todos los derechos reservados.</p>
            <div class="redes-sociales">
                <a href="https://www.facebook.com/profile.php?id=100069438113222" target="_blank"
                    rel="noopener noreferrer">
                    Facebook
                </a>
                <a href="https://wa.me/50683611091" target="_blank" rel="noopener noreferrer">
                    WhatsApp
                </a>
            </div>
        </div>
    </footer>

</body>

</html>