<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Clínica Dental Especializada John Vega</title>

    <link rel="stylesheet" href="../Static/CSS/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div id="navbar"></div>
    <script src="/Static/JS/include.js"></script>
    <script src="/Static/JS/navbar_auth.js"></script>

    <main>

        <section class="seccion-nosotros animate-on-load animate-delay-10">
            <div class="contenedor-texto">
                <h2>Dr. John Vega</h2>
                <h2>&</h2>
                <h2>Dra. Bárbara Francisquini</h2>
                <p>Con más de 15 años de experiencia y un compromiso inquebrantable con la excelencia, en la Clínica
                    Dental Especializada Dr. John Vega vamos más allá del cuidado rutinario.</p>
                <p>Cuidamos tu sonrisa con dedicación absoluta, combinando la probada experiencia de nuestro equipo con
                    la tecnología dental más avanzada. Esto nos permite ofrecerte diagnósticos precisos y tratamientos
                    de máxima calidad en todas las áreas: desde odontología general y limpiezas preventivas hasta
                    procedimientos complejos como implantes dentales, ortodoncia invisible, estética dental y cirugía
                    oral.</p>
                <p>Nuestro pilar es un trato humano, amable y cercano. Entendemos que visitar al dentista puede generar
                    ansiedad, por eso nos esforzamos para que siempre te sientas en buenas manos, cómodo y con total
                    confianza. Tu salud bucal es nuestra prioridad y trabajamos para que cada visita sea una experiencia
                    positiva y que el resultado sea una sonrisa saludable, funcional y hermosa que dure toda la vida.
                </p>
            </div>
            <div class="contenedor-boton-doctores">
                <a href="doctores.html" class="btn-doctores">Ver doctores</a>
            </div>
        </section>
    </main>

    <footer class="footer-principal animate-on-load animate-delay-11">
        <div class="footer-contenido">
            <p>&copy; 2025 Clínica Dental Especializada John Vega. Todos los derechos reservados.</p>
            <div class="redes-sociales">
                <a href="https://www.facebook.com/profile.php?id=100069438113222" target="_blank"
                    rel="noopener noreferrer">
                    Facebook
                </a>
                <a href="https://wa.me/50683611091" target="_blank" rel="noopener noreferrer">
                    WhatsApp
                </a>
            </div>
        </div>
    </footer>

</body>

</html>